@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,,700,900|Roboto:300,500,900&display=swap');

html,body{
    font-family: "Lato";
    margin: 0px; padding: 0px;
    background-color: #f9dcd2;
}

/* HEADER */
header {
    border-bottom: #DCDCDC 2px solid;
}
section{
    padding: 15px;
}

footer{
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
    font-family: "Lato";
    height: 300px;
}

#listfooterright{
    margin-right: 140px;
}
.classfooter{
    padding: 0px;
}

.liens{
    text-decoration: none;
    color: white;
    transition: all 0.3s ease-in-out;
}

.lienfooter{
    margin-top: 20px;
}

.liens:hover{
    color: #5fad4d;
}

#contactsection{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.contactUniv h3{
    text-align: center;
}

.contactUniv{
    padding-right: 35px;
}

.contactEquipe h3{
    text-align: center;
}
.logo-container {
    margin: -50px 10px 10px 60px;
    float: left;
}

#logo {
    width: 50%;
    text-align: center;
}

.top-menu-nav {
    text-align: right;
    margin-right: 3%;
    margin-top: 56px;
    font-family: "Lato";
    font-weight: bold;
    font-size: 18px;
    transition: all 0.3s ease-in-out;
}

ul {
    list-style: none;
}

.top-menu li {
    display: inline-block;
}

.top-menu a {

    text-decoration: none;
    color:#1e1e1e;
    margin-right: 40px;
    padding-bottom: 5px;
    display: block;
    transition: all 0.3s ease-in-out;
    border-bottom: 2px solid transparent;
}

.top-menu a > i{
    margin-left: 4px;
}

#lang i{
    margin-right: 3px;
}
#lang>a{
    cursor: initial;
}
#eur{
   color: #AEAAA9; 
}

.top-menu .link:hover{
    border-color:#5fad4d;

}

#nav-moncompte{
    border-left: #DCDCDC 3px solid;
    border-right: #DCDCDC 3px solid;
    padding-left: 35px;
    margin-right: 10px;
}

.toggle{
    position: absolute;
    top: 80px;
    left: 94%;
    height: 20px;
    width: 20px;
    float: right;
    display: none;
    cursor: pointer;
    
}

.toggle span, .toggle span:before, .toggle span:after{
    content: "";
    position: relative;
    display: block;
    background-color: black;
    width: 100%;
    height: 3px;
}

.toggle span:before{
    top: 18px;
}
.toggle span:after{
    top: 6px;
}

.top-menu-nav.isopen{
    transform: translateX(0%);
}

.toggle.isopen{
    opacity: 0.5px;
}

/* FOOTER */

#container{
    margin-top: 120px;
}

@media only screen and (max-width: 1300px){

    .top-menu-nav{
        position: absolute;
        top: 120px;
        right: 0px;
        width: 230px;
        height: 1000px;
        transform: translateX(100%);
        margin: 0px; padding: 0px;
        border-left: #DCDCDC 1px solid;
        transition: all 0.3s ease-in-out;
        background-color: #f9dcd2;

    }

    section{
        margin-top: 150px;
    }
    .toggle{
        display: block;
    }

    #lang{
        display: none;
    }

    #nav-moncompte{
        border: transparent;
        margin: 0px;padding:0px;
    }

    .top-menu li a{
        padding: 0px;margin: auto;
        width: 190px;
        padding-bottom: 5px; 
    }

    .top-menu li{
        display:block;
        text-align: center;
        padding: 0px;margin:0px 20px;
        height: 55px;
    }

    .top-menu{
        padding: 0px;
    }



}
.petit{
	width: 10px;
	
}

#malist{
	padding:0px;
	margin:0px;
	width:200px;
	height:45px;
	list-style:none;
}


#resultat ul {

	
margin:0px;
padding:0px;
position:relative;
bottom:18px;
width:200px;
display:none;
text-align:center;
border:1px solid #000;
text-decoration:none;
}



#search{
	border:2px solid #000;
	text-align:center;
	width:200px;
}



#loader{
	margin-left:90px;
	display:none;
}

table{
	margin-left:23%;
	margin-right:23%;
	text-align:center-left;
	
	
}

.lienTest{
	margin-top:0%;
	background-color:#F5B6B5;
}