body{
    margin: 30px;
    padding: 40px;
}

h2,h1{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color:  #F29F05;
}

h3{
    color: #60AD42;
    
    
}


.etape1{
    sdisplay: none;
}

.etape2{
    text-align: center;
    margin: 20px;
    margin-top: 5px;
    ddisplay: block;

}

#parfait{
    clear: left;
    text-align: center;
}

#submit{
    text-align: center;
    color: #60AD42;
    font-size: 80%;
}

button{
    color: #60AD42;
    font-size: 80%;
}