#malist{
	padding:0px;
	margin:0px;
	width:200px;
	height:45px;
	list-style:none;
}


#resultat ul {

	
margin:0px;
padding:0px;
position:relative;
bottom:18px;
width:200px;
display:none;
text-align:center;
border:1px solid #000;
text-decoration:none;
}



#search{
	border:2px solid #000;
	text-align:center;
	width:200px;
}



#loader{
	margin-left:90px;
	display:none;
}
