<!DOCTYPE html>
<html>

  <head>

    <meta charset="utf-8">
    <title>Site TIC TAC</title>

  </head>

  <body>

    <h1>TIC AU TAC <h1/>
    <h3>Donnes moi ton alimentation et je te donne ton temps restant...<h3/>

    
    <div id="nav">
    	<table>
    		<tr>
				<td><a href="#"><button id="nav-home">Accueil</button></a></td>
  	 			<td><a href="#"><button id="nav-about">A propos</button></a></td>
   				<td><a href="#"><button id="nav-stats">Statistiques</button></a></td>
   				<td><a href="#"><button id="nav-connection">Connexion</button></a></td>
   				<td><a href="#"><button id="nav-contact">Contact</button></a></tr>
   			</tr>
		</table>
    </div> 
	




























  </body>
</html>