<!DOCTYPE html>
<html>
<head>
	<title>FitnessNews</title>
	<link rel="stylesheet" type="text/css" href="../styles/BasicStructure.css">
</head>
<body>

	<header>

        <h1>FitnessNews<h1/>
        
        <nav class="menu">
          <a href="../index.html">Accueil</a>	
          <a href="Connexion.html">Connexion</a>
          <a href="Statistiques.html">Statistiques</a>
          <a href="Contact.html">Contact</a>
          <a href="A propos.html">A propos</a>
        </nav>
 
    </header>

    <div class="container-pers">
    	<!-- Formulaire de connexion -->
    	<form method="POST" action="../src/Login.php">

    		<label>Identifiant</label>
			<input type="text" name="Idconn" title="Identifiant" autocomplete="">

    		<label>Mot de Passe</label>
			<input type="passeword" name="Mdp">

    		<input type="submit" name="connexion" value="Se connecter">

    	</form>
      
    </div>


    <footer>
      JE SUIS DU CONTENU ET JE SUIS DANS CHACUNE DES PAGES DONC MON CONTENU EST LE MEME DANS CHAQUE PAGE
    </footer> 


</body>
</html>