<!DOCTYPE html>
<html>
<head>
	<title>FitnessNews</title>
  <link rel="stylesheet" type="text/css" href="../styles/BasicStructure.css">
</head>
<body>
	<header>

        <h1>FitnessNews<h1/>
        
        <nav>
          <a href="../index.html">Accueil</a>		
          <a href="Connexion.html">Connexion</a>
          <a href="Statistiques.html">Statistiques</a>
          <a href="Contact.html">Contact</a>
          <a href="A propos.html">A propos</a>
        </nav>
 
    </header>

    <div class="container-pers">
      
    </div>


    <footer>
      
    </footer> 

    
</body>
</html>