*{
	border: 1px red solid;
	margin:0px;
	padding: 0px;
}

/** Titre de notre Site affichez en tête des pages*/
#TitreduSite{
	background-color: red;
}

/** */
header{
	background-color: #11ECCE;
	background-image: url('../ressources/HeaderImg1.jfif');
	background-repeat: no-repeat;
}

footer{
	background-color: black;
}

.nav{
	background-color: #95D100;
	text-align: center;
}

.nav a{
	text-decoration: none;
	font-size: 20px;
	background-color: red;
	color : blue;
}