@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,,700,900|Roboto:300,500,900&display=swap');
/**LE HEADER*/
nav.menu{

	background-image: url('../ressources/HeaderImage.png');
	background-size:100% 300px;
	height: 230px;
	width: 100%;
	line-height: 66px;

}

/**boîte contenant le titre inclus dans nav.menu*/
div.titrebox{

	float : left;
	
}
/**boîte contenant le titre du site inclus dans titrebox*/
h1.titre{

	margin:  0px;
	padding: 0px;
	color : #ffff;
	text-transform: uppercase;
	font-family: 'Roboto';
	font-weight: 900;
	font-size: 35px;
	letter-spacing: 1px;
}
/**boîte contenant la navigation inclus dans nav.menu*/
div.navbox{
	float : right;

}
/**boîte contenant la navigation inclus dans navbox*/
div.navbox a{

	text-decoration: none;
	color : #ffff;
	text-transform: uppercase;
	font-weight: 700;
	padding: 0px; margin: 0px 10px;
	transition: all 0.3s ease-in-out; /** le temps pour que s'affiche un effet sur les élements a*/
	border-bottom: 2px solid transparent; /**une bordure transparente pour ne pas qu'elle se charge et plus de fluidité*/
	padding-bottom: 3px;
	 
}
/**stipule les règles à applquer lorsque que l'on passe la souris sur les balises <a>*/
div.navbox a:hover{
	border-color: #ffff;
	
}
/**règles appliquées aux balises dont les styles est importé du site Fontawesome ce sont les logos*/
div.navbox .fa{

	margin-right: 5px;
}
/** La boîte enfermant l'hamburger*/
div.toggle{
	
	width: 40px;
	height: 66px;
	display: none;
	align-items: center;
	float: right;
	cursor: pointer;

}
/** les traits blancs de l'hamburger*/
span.toggleicons,span.toggleicons:before,span.toggleicons:after{

	position:relative;
	content: "";
	display: block;
	width: 100%;
	height: 2px;
	background:white;
	transition: all 0.3s ease-in-out;
	
}
div.toggle span.toggleicons:before{
	top: 12px;
}
div.toggle span.toggleicons:after{
	top: -14px;
}

/** Une variable qui pourra être attribué à un élement via un evenemtn js*/
.navbox.is-open{
	transform: translateX(0);
}
/**Pour faire une crois lorque que l'on click sur la div toggle*/
.toggle.is-open span.toggleicons{
	background: transparent;
}
.toggle.is-open span.toggleicons:before,.toggle.is-open span.toggleicons:after {
	transform-origin: center;
	transform: rotate(45deg);
	top:0; 
}
.toggle.is-open span.toggleicons:before{
	transform: rotate(-45deg);
}



/**Ce sont les modifications apportés lorsque la fenêtre sera réduite */
@media only screen and (max-width: 1200px){
	html, body{
		overflow-x: hidden;
	}
	
	div.navbox{

		position: absolute;
		top:0px;right: 0px;
		width: 200px;height: 100%;
		background-color: #88B3AD;
		transform: translateX(100%);
		transition: all 0.3s ease-in-out;
		
	}

	div.navbox a{
		display: block;
		text-align: center;
		padding: 0px;margin:0px 20px;
		height: 55px;

	}
	div.toggle{
		display: flex;
		margin-right: 160px;
	}

	div.container-pers{

	}

	div.bas-page{

	}
}