@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,900|Roboto:300,500,900&display=swap');

html, body{

	margin: 0px;
	padding: 0px;
	font-family: 'Lato';
}
/** Une boîte incluant la boite du titre et la boite de navigation et servant à centrer ces deux là*/
div.inner{

	width: 80%;
	margin : auto;
}

div.container-pers{

	background-color: brown;
}

footer{

	background-color: blue;
}